$white: #fff;
$light-gray: #e7e5e4;
$dark-gray: #3e3e3d;
$black: #000;
$light-brown-border: #bcb4a7;
$lighter-brown: #bc9b68;
$light-brown: #bb9b69;
$quotes-brown: #9f855f;
$dark-brown: #3e3e3e;
$footer-backround: #3d3c3c;
